* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
   
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.top-section {
    background-color: #f0f0f0;
    padding: 50px 0;
    text-align: center;
}

.top-section h1 {
    font-size: 2.5em;
}

.top-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}




.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.gallery-item {
    flex: 1 1 calc(25% - 10px);
    max-width: calc(25% - 10px);
}

.gallery-item img {
    width: 90%;
    height: 100%;
    display: block;
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.gallery-item:hover img {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .gallery-item {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex: 1 1 100%;
        max-width: 100%;
    }
}







.bottom-section {
    padding: 50px 0;

}

.bottom-section h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
}

.services {
    display: flex;
    justify-content: space-around;

  
}

.service {
    flex: 1 
    text-align: center;
    padding: 20px;
    margin: auto 5px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.service h3 {
    font-size: 1.5em;
    margin auto;
}

.service p {
    font-size: 1.1em;
}
@media (max-width: 768px) {
    .services {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #7F7D7D;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
justify-content: center;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


@media (max-width: 768px) {
    .services {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .services {
        flex: 1 1 100%;
        max-width: 100%;
    }
}





.carousel-container {
    position: relative;
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    
    max-width: 1200px;
    margin: auto;
}

.carousel {
    display: flex;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 flex: 1 1 calc(25% - 10px);
    max-width: calc(25% - 10px);
}

.carousel-item img {
    object-fit: cover;
width: 90%;
    height: 100%;
    display: block;
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}



button.prev {
    left: 10px;
 position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

button.next {
    right: 10px;
 position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}



@media (max-width: 768px) {
    .carousel-container {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .carousel-container {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

